<ion-header>
  <ion-toolbar>
    <ion-title>
      Codeforces.com Blog Entries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Recent Blogs
    <ion-list>
      <ion-item *ngFor="let r of recentActions">
          {{ r.timeSeconds*1000 | date : 'short' }}
          &nbsp;
          <a href="{{CODEFORCES}}/profile/{{r.blogEntry.authorHandle}}" target="_blank">{{ r.blogEntry.authorHandle }}</a>
          → 
          <a href="{{CODEFORCES}}/blog/entry/{{r.blogEntry.id}}" target="_blank">{{ r.blogEntry.title }}</a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
