<ion-header>
  <ion-toolbar>
    <ion-title>
      Codeforces.com Blog Entries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Recent Blogs
    <ion-list>
      <ion-item *ngFor="let be of blogEntries">
          {{ be.updateTimeSeconds*1000 | date : 'short' }}
          &nbsp;
          <a href="{{CODEFORCES}}/profile/{{be.authorHandle}}" target="_blank">{{ be.authorHandle }}</a>
          → 
          <a href="{{CODEFORCES}}/blog/entry/{{be.id}}" target="_blank">{{ be.title }}</a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
