
.date {
    font-size: 0.9em;
    padding: 0.5em 0;
    color: grey;
}

.handle {
    font-size: 0.9em;
    padding: 0.5em 0;  
    text-decoration: none;
    color: black;
}

.ref {
    font-size: 0.9em;
    padding: 0.5em 0;
}

.item {
    min-height: 1rem; /* <- this can be whatever you need */
}